.result-container {
    justify-content: center;
    text-align: center;
    position: relative;
    border: none;
    border-radius: 20px;
    height: 70vh;
    width: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 5%;
}
.result-header {
    justify-content: center;
    text-align: center;
    position: relative;
    border: none;
    font-size: 4vh;
    color: #283747;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 2%;
}
.outer-border {
    width: 800px;
    height: 650px;
    padding: 20px;
    text-align: center;
    border: 6px solid #F1C40F;
    border-radius: 10px;
}

.inner-dotted-border {
    width: 750px;
    height: 600px;
    padding: 20px;
    text-align: center;
    border: 5px solid #D35400;
    border-style: dotted;
}

.body-text {
    font-size: 20px;
    font-family: Cantarella, serif;
    color: #283747;
    margin: 10px;
}

.player-name {
    font-size: 7vh;
    font-family: Cantarella, serif;
    color: #EC7063;
    margin: 2%;
    text-transform: uppercase;
}

.quiz-title-1 {
    font-size: 4vh;
    font-family: Cantarella, serif;
    color: #283747;
    margin: 2%;
}
.result-footer {
    position: relative;
    border: none;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    margin: 10%;
}
.footer-text {
    font-size: 2vh;
    font-family: Cantarella, serif;
    color: #283747;
    justify-content: left;
    text-align: left;
    padding-top: 2%;
    align-items: center;
}
.footer-text-2 {
    font-size: 2vh;
    font-family: Cantarella, serif;
    color: #283747;
    justify-content: right;
    text-align: right;
}