@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.result-container {
    justify-content: center;
    text-align: center;
    position: relative;
    border: none;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 10%;
}
.result-header {
    justify-content: center;
    text-align: center;
    position: relative;
    border: none;
    font-size: 4vh;
    color: #283747;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 2%;
}
.outer-border {
    width: 800px;
    height: 650px;
    padding: 20px;
    text-align: center;
    border: 6px solid #F1C40F;
    border-radius: 10px;
}

.inner-dotted-border {
    width: 750px;
    height: 600px;
    padding: 20px;
    text-align: center;
    border: 5px solid #D35400;
    border-style: dotted;
}

.body-text {
    font-size: 20px;
    font-family: Cantarella, serif;
    color: #283747;
    margin: 10px;
}

.player-name {
    font-size: 7vh;
    font-family: Cantarella, serif;
    color: #EC7063;
    margin: 2%;
    text-transform: uppercase;
}

.quiz-title-1 {
    font-size: 4vh;
    font-family: Cantarella, serif;
    color: #283747;
    margin: 2%;
}
.result-footer {
    position: relative;
    border: none;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    margin: 10%;
}
.footer-text {
    font-size: 2vh;
    font-family: Cantarella, serif;
    color: #283747;
    justify-content: left;
    text-align: left;
    padding-top: 2%;
    align-items: center;
}
.footer-text-2 {
    font-size: 2vh;
    font-family: Cantarella, serif;
    color: #283747;
    justify-content: right;
    text-align: right;
}
.footer-btn {
    margin: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Media query for mobile screens */

@media screen and (max-width: 768px) {
    .result-container {
        margin-top: 5%;
    }

    .result-header {
        font-size: 3vh;
        margin-top: 1%;
    }

    .outer-border {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .inner-dotted-border {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .body-text {
        font-size: 16px;
        margin: 5px;
    }

    .player-name {
        font-size: 5vh;
        margin: 1%;
    }

    .quiz-title-1 {
        font-size: 3vh;
        margin: 1%;
    }

    .result-footer {
        margin: 5%;
    }

    .footer-text {
        font-size: 1.5vh;
        padding-top: 1%;
    }

    .footer-text-2 {
        font-size: 1.5vh;
    }
}
@media (min-width: 768.1px) and (max-width: 1200px) {
    .result-container {
        margin-top: 5%; /* Adjust the margin-top value as needed */
    }

    .result-header {
        font-size: 3vh; /* Adjust the font size as needed */
        margin-top: 1%; /* Adjust the margin-top value as needed */
    }

    .outer-border {
        width: 600px; /* Adjust the width as needed */
        height: auto; /* Adjust the height as needed */
    }

    .inner-dotted-border {
        width: 550px; /* Adjust the width as needed */
        height: auto; /* Adjust the height as needed */
    }

    .player-name {
        font-size: 5vh; /* Adjust the font size as needed */
        margin: 1%; /* Adjust the margin value as needed */
    }

    .quiz-title-1 {
        font-size: 3vh; /* Adjust the font size as needed */
        margin: 1%; /* Adjust the margin value as needed */
    }

    .result-footer {
        margin: 5%; /* Adjust the margin value as needed */
    }

    .footer-text {
        font-size: 1.5vh; /* Adjust the font size as needed */
    }

    .footer-text-2 {
        font-size: 1.5vh; /* Adjust the font size as needed */
    }
}


